/* your styles go here */

.t-md { font-size: 20px; }
.t-lg { font-size: 30px; }
.xpad { padding:0; }
.xmar { margin:0; }
.suck-up { margin-top: -15px; }
.upper { text-transform: uppercase; }
.strong { font-weight: 700; }

.fineb-light {
  border-top: 1px solid #ddd;
}

.padv-md {
  padding: 30px 0;
}

.mart-md {
  margin-top:30px;
}