// Core variables and mixins
@import "partials/variables.scss";
@import "partials/mixins.scss";

// Global CSS
@import "partials/global.scss";
@import "partials/spacing.scss";
@import "partials/forms.scss";

// Components
@import "partials/masthead.scss";
@import "partials/showcase.scss";
@import "partials/icons.scss";
@import "partials/testimonials.scss";
@import "partials/call-to-action.scss";
@import "partials/footer.scss";

html, body {
  height: 100%;
  font-weight: 300;
  font-size: $font-size-base;
}

body {
  @include font-body;
  color: $gray-700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include font-body;
  font-weight: 700;
}

img {
  width: 100%;
}

form {
  width: 100%
}

a:hover {
  @extend .nodec;
}

.navbar-brand.logo {
  @include font-display;
  font-style: italic;
  font-weight: 900;
  font-size: 26px;
  color: $blue;
}

.font-serif {
  @include font-serif;
}

.current-user {
  img {
    max-height: 40px;
  }

  span {
    @extend .marl-xs;
    line-height: 40px;
  }
}

.text-intro {
  h1 {
    @include media-breakpoint-up(lg) {
      font-size: 70px;
    }
  }
}

p.social {
  text-align: center;
  margin-top: 20px;
}
p.social a {
  margin: 0 10px 0 0;
  color: #fff;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  line-height: 40px;
  font-size: 15px;
  text-align: center;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  vertical-align: bottom;
  border: solid 1px #ccc;
}
p.social a i {
  vertical-align: bottom;
  line-height: 40px;
}
p.social a.git {
  background-color: #000;
  border-color: #000;
}
p.social a.facebook {
  background-color: #4460ae;
  border-color: #4460ae;
}
p.social a.gplus {
  background-color: #c21f25;
  border-color: #c21f25;
}
p.social a.twitter {
  background-color: #3cf;
  border-color: #3cf;
}
p.social a.instagram {
  background-color: #cd4378;
  border-color: #cd4378;
}
p.social a.email {
  background-color: #4a7f45;
  border-color: #4a7f45;
}
p.social a.link {
  background-color: #871AFF;
  border-color: #871AFF;
}
p.social.social--outline a {
  background: transparent;
}
p.social.social--outline a.facebook {
  color: #4460ae;
  border-color: #4460ae;
}
p.social.social--outline a.gplus {
  color: #c21f25;
  border-color: #c21f25;
}
p.social.social--outline a.twitter {
  color: #3cf;
  border-color: #3cf;
}
p.social.social--outline a.instagram {
  color: #cd4378;
  border-color: #cd4378;
}
p.social.social--outline a.email {
  color: #4a7f45;
  border-color: #4a7f45;
}
p.social.social--outline a.link {
  color: #871AFF;
  border-color: #871AFF;
}
